@tailwind base;
@tailwind components;
@tailwind utilities;



/* space-mono-700 - latin */
@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/space-mono-v10-latin-700.woff2") format("woff2"), url("../fonts/space-mono-v10-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/lexend-deca-v15-latin-regular.woff2") format("woff2"), url("../fonts/lexend-deca-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  padding-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.freez {
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 58px;
}

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav__item {
  margin-right: 32px;
}

.nav__link {
  font-family: "Space Mono", 'Courier New', Courier, monospace;
  font-weight: bold;
  line-height: 25px;
  color: #939CAA;
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
}

.nav__link:hover {
  color: #FCB72B;
}

@media only screen and (max-width: 719px) {
  .nav__list {
    display: block;
  }
  .nav__item {
    margin-right: 0;
  }
}

.main-link {
  display: block;
  min-width: 180px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 11px 36px;
  background-color: #FCB72B;
  color: #fff;
  font-family: "Space Mono", "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  border: 3px solid #FCB72B;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.main-link:hover {
  color: #FCB72B;
  background-color: transparent;
}

@media screen and (max-width: 719px) {
  .logo {
    display: block;
    margin: 0 auto;
  }
}

@-webkit-keyframes shadow-open {
  0% {
    -webkit-transform: translate(100%) scale(0);
            transform: translate(100%) scale(0);
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}

@keyframes shadow-open {
  0% {
    -webkit-transform: translate(100%) scale(0);
            transform: translate(100%) scale(0);
  }
  100% {
    -webkit-transform: translate(0) scale(1);
            transform: translate(0) scale(1);
  }
}

@-webkit-keyframes header-content-open {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes header-content-open {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 15px 21px;
}

.header__nav-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__burger {
  display: none;
  width: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header__burger::before, .header__burger-inner, .header__burger::after {
  display: block;
  height: 4px;
  background-color: #FCB72B;
  margin-bottom: 2px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  content: '';
}

.header__burger::after {
  margin-bottom: 0;
}

.header__burger--opened .header__burger-inner {
  display: none;
}

.header__burger--opened {
  position: relative;
}

.header__burger--opened::after, .header__burger--opened::before {
  margin: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__burger--opened::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.header__burger--opened::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

@media only screen and (max-width: 719px) {
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .header__nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 72px);
    margin: 0;
  }
  .header__nav::before {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    content: '';
  }
  .header__nav--opened {
    display: block;
  }
  .header__nav--opened::before {
    -webkit-animation: shadow-open 0.3s linear;
            animation: shadow-open 0.3s linear;
  }
  .header__nav-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #333A44;
    padding: 64px 15px 24px;
    height: 100%;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    z-index: 4;
  }
  .header__nav--opened .header__nav-wrapper {
    -webkit-animation: header-content-open 0.3s linear;
            animation: header-content-open 0.3s linear;
  }
  .header__nav-list {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__nav-item {
    margin-bottom: 24px;
  }
  .header__nav-link {
    color: #fff;
  }
}
